.centro{
	padding-top: 50px;
	text-align: center;
}
.padre{
	padding-top: 50px;
}
.padre-agregar{
	padding-top: 110px;
}
.min-perfil-institucion{
	text-align: center;
	margin-right: 40px;
}
.nombre-institucion-perfil{
	color:white;
	
}
.mas{
	padding-top: 60px; 

}
.mas ul li{
	list-style: none;
}
.p-right{
	text-align: right;
	color:white;

}
.blue-sky{
	background: #E0F8F7;
}
.padding-body{
	padding-top: 50px;
}
.p-right strong{
	color:#00FF80;
}
.p-titulo-inst{
	font-size: 30px;
	color: #58D3F7;
	font-weight:bold;
	text-align: center;
	/*background: red;*/
}
.ico-map{
	float: none;
    margin: 0 auto;
    margin-top: 6px;
	height: 50px;
	width: 50px;
	background:url("../ico/map.png");
	background-size: 100% 100%;
}
.ico-push{
	float: none;
    margin: 0 auto;
    margin-top: 6px;
	height: 50px;
	width: 50px;
	background:url("../ico/push.png");
	background-size: 100% 100%;
}
.ico-add{
	float: none;
    margin: 0 auto;
    margin-top: 6px;
	height: 130px;
	width: 130px;
	background:url("../ico/add.png");
	background-size: 100% 100%;
}
.ico-addArea{
	float: none;
    margin: 0 auto;
    margin-top: 6px;
	height: 130px;
	width: 130px;
	background:url("../ico/addArea.png");
	background-size: 100% 100%;
}
.ico-news{
	float: none;
    margin: 0 auto;
    margin-top: 6px;
	height: 130px;
	width: 130px;
	background:url("../ico/news.png");
	background-size: 100% 100%;
}
.ico-mundo{
	float: none;
    margin: 0 auto;
    margin-top: 6px;
	height: 130px;
	width: 130px;
	background:url("../ico/mundo.png");
	background-size: 100% 100%;
}
.tr-estilo{
	color:white;
	background-color: #1A5276;
}
.top-top{
	padding-top: 100px;
}
.papel-blanco{
	background:#FAFAFA;
	box-shadow: 2px 2px 12px #888888;
	margin-bottom: 25px;
}
.papel-inicio{
	border: 2px solid #BDBDBD;
	border-radius: 5px;
	border-style: dotted;
}
.centro {
	/*background:red;*/
	text-align: center;
    margin: 0 auto;
}
.papel-titulo{/*ejemplo para poder ajustar el texto en nuestro div para los comandos de lector de texto*/
	background:;
	color:black;
	font-size: 23px;
	width: 320px;
	margin: 0 auto;
	font-weight:bold;
	text-align: center;	

}
.papel-body{
	width: 360px;
	margin: 0 auto;
	text-align: center;	
}
.botones-grupo{
	margin-top:30px;
	margin-bottom:30px;
}
.btn-verde{
	color:white;
	background: #45B39D;
}
.btn-verde:hover{
	color:white;
	background: #138D75;
}
.btn-naranja{
	color:white;
	background: #E67E22;
}
.btn-naranja:hover{
	color:white;
	background: #A04000;
}
.panel-title-agregar{
	font-size: 23px;
	width: 210px;
	font-weight:bold;
}
.panel-title-agregar-mv{
	font-size: 23px;
	
	font-weight:bold;
}
.panel-body-mst{

}
.buttomytop{
	margin-top:10px;
	margin-bottom:10px;
}
.panel {
    background: #ffffff;
    box-shadow:0px 0px 5px 5px #C9C9C9;
    -webkit-box-shadow:2px 2px 5px 5x #C9C9C9;
    -moz-box-shadow:2px 2px 5px 5px #C9C9C9;

    padding: 20px;
}
.top-btn{
	margin-top: 5px;
}
.badge1 {
   position:relative;
}
.badge1[data-badge]:after {
   content:attr(data-badge);
   position:absolute;
   top:-10px;
   right:-10px;
   font-size:15px;
   background:green;
   color:white;
   width:22px;height:22px;
   text-align:center;
   line-height:18px;
   border-radius:50%;
   box-shadow:0 0 1px #333;
}