.top-top{
	margin-top:100px;
}
.top{
	padding-top: 50px;
}
.top-reloj{
	padding-top:80px;
}
.ico-clock{
	float: none;
    margin: 0 auto;
	height: 120px;
	width: 130px;
	background:url("../ico/clock.png");
	background-size: 100% 100%;
}
.ico-house{
	float: none;
    margin: 0 auto;
	height: 120px;
	width: 130px;
	background:url("../ico/house.png");
	background-size: 100% 100%;
}
.ico-photo{
	float: none;
    margin: 0 auto;
	height: 120px;
	width: 130px;
	background:url("../ico/photo.png");
	background-size: 100% 100%;
}

.centro-link{
	text-align: center;
	margin-top: 15px;
}
.centro-link a{
	font-size: 17px;
}
.papel{
	background: #FAFAFA;
	margin-right: 15%;
	margin-left:15%;
	padding: 8px;
	box-shadow: 5px 5px 15px #888888;
}
.p-right{
	text-align: right;
	color:white;

}
.min-perfil-vendedor{
	text-align: center;
	margin-right: 40px;
}
.nombre-perfil{

	
	color:white;
}
.pequenio{
	font-size: 13px;
}
.label-centro{
	color:white;
	font-size: 25px;
}
.subir{
	text-align: center;
}
.papelImagen{
	margin:0 auto;
	background: white;
	border:1px solid #E6E6E6;
	width: 430px;
	height: auto;
}
.papelImagen .cabeza{
	padding: 10px;
	background: #DAEDF2;
}
.label-foto-link{
	color:green;
}