.zoom{
		transition: 1.1s ease;
 		-moz-transition: 1.1s ease; /* Firefox */
 		-webkit-transition: 1.1s ease; /* Chrome - Safari */
 		-o-transition: 1.1s ease; /* Opera */
	}
	.zoom:hover{
		background: black;
		color:white;
		transform : scale(1.2);
		-moz-transform : scale(1.2); /* Firefox */
		-webkit-transform : scale(1.2); /* Chrome - Safari */
		-o-transform : scale(1.2); /* Opera */
		-ms-transform : scale(1.2); /* IE9 */
	}

.centro1{
	padding-top: 50px;
	text-align: center;
}
.centro2 {
	/*background:red;*/
	text-align: center;
    margin: 0 auto;
}

.panel {
    background: #ffffff;
    box-shadow:0px 0px 5px 5px #C9C9C9;
    -webkit-box-shadow:2px 2px 5px 5x #C9C9C9;
    -moz-box-shadow:2px 2px 5px 5px #C9C9C9;

    padding: 20px;
}

	.foto-buscar{

	height: 110px;
	width:200px;
	/*height: 50%; width: 70%;*/
}
.body-buscar{
	background: white;
	margin-left: 15%;
	margin-right: 15%;
}
.lbl_titulo{
	font-size: 18px;
	margin-left:10%;
}
.p-nothing{
	margin-top: 150px;
	font-size: 20px;
}
.margen{
	padding-left: 20px;
	padding-right: 20px;
  padding-top:120px;
}
small{
	margin-left: 20px;
	margin-right: 40px;
}
.ico-security{
	float: none;
    margin: 0 auto;
    margin-top: 6px;
	height: 50px;
	width: 50px;
	background:url("../ico/security.png");
	background-size: 100% 100%;
}
.ico-speaker{
	float: none;
    margin: 0 auto;
    margin-top: 6px;
	height: 130px;
	width: 130px;
	background:url("../ico/speaker.png");
	background-size: 100% 100%;
}
.ico-internet{
	float: none;
    margin: 0 auto;
    margin-top: 6px;
	height: 130px;
	width: 130px;
	background:url("../ico/internet.png");
	background-size: 100% 100%;
}
.ico-producto{
	float: none;
    margin: 0 auto;
    margin-top: 6px;
	height: 130px;
	width: 130px;
	background:url("../ico/producto.png");
	background-size: 100% 100%;
}
.ico-add{
	float: none;
    margin: 0 auto;
    margin-top: 6px;
	height: 130px;
	width: 130px;
	background:url("../ico/add.png");
	background-size: 100% 100%;
}
.borde-left{
	border-left:1px solid #E6E6E6; 
	border-right:1px solid #E6E6E6; 

}
.nombreblue{
	color: #170B3B;
	font-size: 20px;
}
.correo{
	color: #0174DF;
}
.numero{
	color: #6E6E6E;	
}
.tamanio{
	height: 200px;
	width: 210px;
}
.porte{
	height: 150px;
	width: 170px;
	background-size:100% 100%; 
}

.margen-inde{
	padding-top: 70px;
}
.ico-pass{
	float: none;
    margin: 0 auto;
	height: 130px;
	width: 130px;
	background:url("../ico/password.png");
	background-size: 100% 100%;
}
.ico-servicio{
	float: none;
    margin: 0 auto;
	height: 130px;
	width: 130px;
	background:url("../ico/servicio.png");
	background-size: 100% 100%;
}
.mi-input{
	border: 1px solid black;
	width: 260px;

 /* CSS2 selector to add visible href after links */
}
.porte-ico{
	 height: 70px;
	 width:100px;
	 background-size: 100% 100%;
}
.subir{
	padding: 20px;
}
.foto-perfil-vendedor{
	margin-top: 5px;
	height: 120px;
	width: 130px;
	background-size: 100% 100%;
}
.box-perfil{
	margin: 5px;
	text-align: center;
	border:1px solid #CEECF5;
	border-radius: 5px;
}
.img-logo{
	height: 90px;
	width:120px;
}
.img-logo_noticia{
	height: 50px;
	width:50px;
}
.tamanio-inst{
	float: none;
	 margin: 0 auto;
	height: 150px;
	width: 180px;
}
.color-sky{
	background-color:#E0ECF8;
}
/* a:visited:after {
  content: " (" attr(href) ") ";
  font-size: 0.8em;
  font-weight: normal;
}*/
.label-institucion{
	color:white;
}
.div-centro {
	display: inline-block;
	margin-left: 20px;

  
}
.deta_producto{
	height: 70%;
	width: 70%;
}
.deta_alumno{
	height: 20%;
	width: 20%;
}
.box-producto{
	display: inline-block;
	padding: 10px;
	height: 130px;
	width: 150px;
	border-left:1px solid #E6E6E6; 
	border-right:1px solid #E6E6E6; 
	
}
.img-prod{
	height:80px; width:80px;
}
.img-notix{
	float: left;
}
.img-titu{
	color: black;
	padding-left:100px;
}
.papel-noticia{
	background-color: white;
	margin-left: 20px;
	border:1px solid #81BEF7;

}
.papel-prod{
	background-color: white;
	margin-left: 20px;
	border:1px solid #81BEF7;

}
.lineas{
	border:1px solid #81BEF7;
}
.fondo-blanco{
	background:white;
}
.lineas-border{
	margin-left: 10px;
	border: 1px solid #F2F2F2;
}
.linea-arriba{
	border-top: 1px solid #A9E2F3;
}
.center-top{
	margin-top:30px;
}
.linea-gris{
	border: 1px solid #F2F2F2;
}
.txt-gris{
	color:#848484;
}
.foto-update{
	height: 140px;
	width: 170px;
}
.color-blue{
	color:#345A94;
	font-weight:bold;	
}
.foto-noticia{
	height:300px; width:470px;
}
.pushy-link{
	font-size: 12px;
}
.pushy-submenu button{
	font-size: 12px;
}
.fondo-color-blue{
	background: #1A5276;
	color:white;
}
.th3{
	color:black;
}

.sizeLogo{
	
	height: 50px;
	width:60px;
}
.sizeFP{
	width:50px;
    height:50px;
    border-radius:150px;
}
.sizeLogoMin{
	height: 40px;
	width:50px;
}
.titulodearea{
	font-size: 18px;
}
.blanco{
	background: white;
}
.letra-pequenia{
	font-size: 12px;
}
.background-blue{
	background: url(https://static8.depositphotos.com/1033704/980/i/950/depositphotos_9808899-stock-photo-silver-gray-background.jpg);
	background-size: 100% 100%; 
}
.lbl-desc{
	color:#5499C7;
	font-size: 13px;
}
.lbl-precio{
	color:#5DADE1;
	font-size: 17px;
}
.ico-news{
	float: none;
    margin: 0 auto;
    margin-top: 6px;
	height: 130px;
	width: 130px;
	background:url("../ico/news.png");
	background-size: 100% 100%;
}
.lbl-titulo{
	font-size: 17px;
}
.foto-producto-p{
	height: 220px;
	width: 240px;
}